@font-face {
   font-family: 'Great_Day_Personal_Use';
   font-display: swap;
   src: url('file:///C:/Users/jonat/Desktop/Tudo%20Desktop/SITES%20MOBIRISE/SITES%20MOBIRISE/ANDREIA%20EUFRAUSINO/fonts/Great_Day_Personal_Use/font.ttf');
}
